{% extends "blog/base_generic.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>

  <p><strong>Post date:</strong> {{ post.post_date }}</p>
  <p><strong>Author:</strong> <a href="{% url 'blog:author-detail' post.author.pk %}">{{ post.author }}</a></p>
  <p>{{ post.content }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>

    {% for com in post.comment_set.all %}
      <hr>
      {{ com }}
    {% endfor %}
    <hr>
    {% if user.is_authenticated %}
      <p><a href="{% url 'blog:comment-create' post.id %}">Add a new comment</a></p>
    {% else %}
      <p><a href="{% url 'login'%}?next={{request.path}}">Login</a> to add a new comment</p>
    {% endif %}
  </div>
{% endblock %}