body {
    background-color: #000;
    color: lightgray;
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}
#pojemnik {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#plansza {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}
#szubienica {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
#alfabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
.litera {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}
.litera:hover {
    background-color: #222;
    color: white;
    border: 3px solid white;
}
.reset {
    color: green;
    cursor: pointer;
    font-size: 48px;
}
.reset:hover {
    color: white;
}

/*index*/
#container {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    text-align: center;
    background-color: #222;
    min-height: 300px;
    margin-top: 200px;
    border-radius: 70px;
    border: 5px solid black;

    -webkit-box-shadow: 0px 0px 161px 6px rgba(30,58,245,1);
    -moz-box-shadow: 0px 0px 161px 6px rgba(30,58,245,1);
    box-shadow: 0px 0px 161px 6px rgba(30,58,245,1);
}
input[type=text] {
    width: 500px;
    height: 100px;
    box-sizing: border-box;
    outline: none;
    background-color: #999;
    color: black;
    font-size: 38px;
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid #073784;
    text-align: center;

    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}
input[type=text]:focus {
    background-color: white;

    -webkit-box-shadow: 0px 0px 139px -9px rgba(30,58,245,1);
    -moz-box-shadow: 0px 0px 139px -9px rgba(30,58,245,1);
    box-shadow: 0px 0px 139px -9px rgba(30,58,245,1);
}
input[type=submit] {
    width: 200px;
    height: 70px;
    outline: none;
    margin-top: 50px;
    border-radius: 30px;
    border: 3px solid #073784;
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;

    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}
input[type=submit]:hover {
    background-color: white;
}
input[type=submit]:focus {
    background-color: white;

    -webkit-box-shadow: 0px 0px 139px -9px rgba(30,58,245,1);
    -moz-box-shadow: 0px 0px 139px -9px rgba(30,58,245,1);
    box-shadow: 0px 0px 139px -9px rgba(30,58,245,1);
}
input::-webkit-input-placeholder
{
    color: #222;
}