.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    width: 10pc;
}

.col-sm-10 {
    padding-left: 50px;
}

ul {
    list-style: lower-greek;
}

body {
    background: black url("../images/img.jpg") repeat;
    background-size: 150px;
}