body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/full-bloom.png");
	margin: 0;
	font-family: 'Farsan', cursive;
	font-size: 20px;
	letter-spacing: 1px;
	color: #440336;
}

a
{
	text-decoration: none;
}

.logo
{
	font-family: 'Akronim', cursive;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	color: rgb(223, 26, 131);
	letter-spacing: 2px;
}
.logo a
{
	color: rgb(223, 26, 131);
}

#topnav
{
	text-align: center;
}

/* menu --------------------------------------------------- */
.menu
{
	background: #ddc9da;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 25px;
	line-height: 200%;
}
.menu > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;
}
.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}
.menu a
{
	color: #440336;
}
.menu a:hover
{
	color: #d40eaa;
}

/* main index --------------------------------------------------- */
#description
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 700px;
	text-align: center;
	background-color: white;
}

/* main my_work --------------------------------------------------- */
#newest
{
	margin-left: auto;
	margin-right: auto;
	width: 1102px;
}
.fiber
{
	display: none;
	background-color: white;
	width: 320px;
	height: 380px;
	text-align: center;
	border: 2px solid #ddc9da;
	margin: 20px;
	transition: border 0.5s;
}
.fiber:hover
{
	border: 2px solid #440336;
	transition: border 0.5s;
}
.fiber img
{
	object-fit: cover;
	width: 320px;
	height: 300px;
}
a > .fiber  img
{
	opacity: 0.9;
}
a:hover > .fiber  img
{
	opacity: 1;
}
figure
{
	margin: 0px;
}
figcaption
{
	margin-top: 10px;
	font-size: 25px;
}
#show_more
{
	vertical-align: top;
	display: none;
	width: 320px;
	height: 380px;
	text-align: center;
	border: 2px solid #ddc9da;
	margin: 20px;
	color: #ddc9da;
	transition: border 0.5s, color 0.5s;
}
#show_more:hover
{
	border: 2px solid #440336;
	transition: border 0.5s, color 0.5s;
	color: #440336;
	cursor: pointer;
}
#show_more > p
{
	margin-top: 145px;
	font-size: 60px;
}

/* footer --------------------------------------------------- */
.socials
{
	width:100%;
	text-align: center;
	background-color: #ddc9da;
}
.socialdivs
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.fb
{
	width: 250px;
	height: 100px;
	float:left;
}
.fb:hover
{
	background-color: #4668b3;
}
.ig
{
	width: 250px;
	height: 100px;
	float:left;
}
.ig:hover
{
	background-color: #ffee00;
}
.info {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}

/* scroll --------------------------------------------------- */
.scrollup
{
	width: 64px;
	height: 64px;
	background: url("img/up.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
	border: 2px solid #440336;
	border-radius: 10px;
}